# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo

# Environment (all nested)
**/.env
**/.env.local
**/.env.*
!**/.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Docker
*.local.dockerfile
.vercel
.env*.local
